In [2]:
import numpy as np 
import pandas as pd

In [8]:
#Read the data 
df = pd.read_csv('../Data/SolarSystemData.csv')
df

,Id,Name,Type,Order from Sun,Diameter (Earth=1),Diameter (km),Mass (Earth=1),Mean Distance from Sun (AU),Orbital Period (years),Orbital Eccentricity,...,Mean Temperature at Surface (C),Gravity at Equator (Earth=1),Escape Velocity (km/sec),Mean Density (water=1),Atmospheric Composition,Number of Moons,Rings,Parent,Image,URI
0,1,Sun,Star,0,109.000,1392000,333000.000,0.00,0.00,0.0000,...,5600,28.00,617.70,1.40,H2+He,0,False,NaN,Images\Sun.jpg,http://en.wikipedia.org/wiki/Sun
1,2,Mercury,Terrestrial planet,1,0.382,4878,0.055,0.39,0.24,0.2056,...,125,0.38,4.25,5.43,none,0,False,1.0,Images\Mercury.jpg,http://en.wikipedia.org/wiki/Mercury_(planet)
2,3,Venus,Terrestrial planet,2,0.949,12104,0.815,0.72,0.62,0.0068,...,465,0.90,10.36,5.25,CO2,0,False,1.0,Images\Venus.jpg,http://en.wikipedia.org/wiki/Venus
3,4,Earth,Terrestrial planet,3,1.000,12756,1.000,1.00,1.00,0.0167,...,15,1.00,11.18,5.52,N2+O2,1,False,1.0,Images\Earth.jpg,http://en.wikipedia.org/wiki/Earth
4,5,Mars,Terrestrial planet,4,0.532,6787,0.107,1.52,1.88,0.0934,...,-53,0.38,5.02,3.93,CO2,2,False,1.0,Images\Mars.jpg,http://en.wikipedia.org/wiki/Mars
5,6,Jupiter,Gas giant,6,11.209,142800,318.000,5.20,11.86,0.0483,...,-150,2.64,59.54,1.33,H2+He,63,True,1.0,Images\Jupiter.jpg,http://en.wikipedia.org/wiki/Jupiter
6,7,Saturn,Gas giant,7,9.440,120000,95.000,9.54,29.46,0.0560,...,-170,0.93,35.49,0.71,H2+He,62,True,1.0,Images\Saturn.jpg,http://en.wikipedia.org/wiki/Saturn
7,8,Uranus,Gas giant,8,4.007,51118,15.000,19.18,84.01,0.0461,...,-200,0.89,21.29,1.24,H2+He,27,True,1.0,Images\Uranus.jpg,http://en.wikipedia.org/wiki/Uranus
8,9,Neptune,Gas giant,9,3.883,49528,17.000,30.06,164.80,0.0097,...,-210,1.12,23.71,1.67,H2+He,13,True,1.0,Images\Neptune.jpg,http://en.wikipedia.org/wiki/Neptune
9,11,Pluto,Dwarf planet,10,0.180,2300,0.002,39.44,247.70,0.2482,...,-220,0.06,1.27,2.03,CH4,3,False,1.0,Images\Pluto.jpg,http://en.wikipedia.org/wiki/Pluto

In [15]:
# 1. Calculate the relative size and distances of the planets

# Define the size of the Sun in km
sun_radius_km = 696340 

# Loop over each row in the dataframe and calculate the size and distance of each planet relative to the Sun
for index, row in df.iterrows():
    # Calculate the size of the planet relative to the Sun
    planet_size = row['Diameter (km)'] / (sun_radius_km * 2)
    
    # Calculate the distance of the planet relative to the Sun
    planet_distance = row['Mean Distance from Sun (AU)'] * 149.6e6 / sun_radius_km
    
    # Print the results
    print(f"{row['Name']}: Size - {planet_size:.5f} Sun radii, Distance - {planet_distance:.3f} Sun radii")

Sun: Size - 0.99951 Sun radii, Distance - 0.000 Sun radii
Mercury: Size - 0.00350 Sun radii, Distance - 83.787 Sun radii
Venus: Size - 0.00869 Sun radii, Distance - 154.683 Sun radii
Earth: Size - 0.00916 Sun radii, Distance - 214.838 Sun radii
Mars: Size - 0.00487 Sun radii, Distance - 326.553 Sun radii
Jupiter: Size - 0.10254 Sun radii, Distance - 1117.155 Sun radii
Saturn: Size - 0.08616 Sun radii, Distance - 2049.551 Sun radii
Uranus: Size - 0.03670 Sun radii, Distance - 4120.585 Sun radii
Neptune: Size - 0.03556 Sun radii, Distance - 6458.018 Sun radii
Pluto: Size - 0.00165 Sun radii, Distance - 8473.194 Sun radii